@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;400&display=swap');

html, body {
    font-family: 'Tomorrow', sans-serif !important;
    color: white !important;
    background-color: black !important;
    margin: 0 !important;
    padding: 0;
    height: 100%;
    width: 100%;

    .blue {color: rgb(43, 152, 255)}
    .purple {color: rgb(159, 80, 255)}
    .orange {color: rgb(255, 119, 0)}
    .greenyellow {color: greenyellow}

    .border-blue {border: 2px solid rgb(43, 152, 255)}
    .border-purple {border: 2px solid rgb(159, 80, 255)}
    .border-orange {border: 2px solid rgb(255, 119, 0)}
    .border-green {border: 2px solid greenyellow}

    .bg-grey { background-color: #999999;}
    .bg-orange { background-color: rgb(255, 119, 0);}
    .bg-green { background-color: greenyellow;}

    .button-donation { 
        border: 2px solid white;
        p, span { color: white }
    }
    .button-donation:hover{ 
        border: 2px solid greenyellow;
        p, span{ color: greenyellow; }
    }

    .btn-outline-green{color: greenyellow ;border-color: greenyellow}
    .btn-outline-green:hover{color: black ;background-color: greenyellow ;border-color: greenyellow}

    .bg-admin {
        background-image: url('../public/img/admin-1.png');
    }
    
    .bg-light {
        background-image: url('../public/img/bg-light-speed.png');
    }

    .app {
        margin: 0 auto;
        padding: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .scrollable {
        overflow-y: scroll;
    }

    main {
        min-height: 100vh;
        margin-bottom: -100px;
    }

    p {
        color: white;
        letter-spacing: 0.03em;
        word-spacing: 0.15em;
    }

    img.ship1 {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 80px;
        bottom: 45%;
        padding: 0 2px;
        -webkit-transform: rotate(-40deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }

    img.ship2 {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 220px;
        bottom: 55%;
        padding: 0 2px;
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
    }

    img.planet {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 130px;
        bottom: 75%;
        padding: 0 2px;
        -webkit-transform: rotate(20deg);
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    .push {
        height: 100px;
        width: 100%;
        opacity: 0;
    }

    footer {
        height: 100px;
        width: 100%;
        background-color: black;
    }

    .user-image {
        width: 250px;
        border-radius: 50%;
    }

    .project-image {
        width: 150px;
        border-radius: 50%;
    }

    .tech-logo {
        width: 140px;
        border-radius: 50%;
    }

    .mini-image {
        width: 40px;
        border-radius: 50%;
    }

    .logo-icon {
        width: 40px;
    }

    .icon-image-big {
        width: 300px;
        border-radius: 50%;
    }

    .number-score {
        font-size: 30px;
    }

    .imagePreview {
        border-radius: 50%;
        display: block;
        cursor: pointer;
        margin: 0 auto;
        background-size: cover;
        background-position: center center;

        &__user-image {
            @extend .imagePreview;
            width: 250px;
            height: 250px;
        }

        &__project-image {
            @extend .imagePreview;
            width: 150px;
            height: 150px
        }

        &__list-image {
            @extend .imagePreview;
            width: 60px;
            height: 60px
        }

        &__tech-logo {
            @extend .imagePreview;
            width: 140px;
            height: 140px
        }

        &__mini-image {
            @extend .imagePreview;
            width: 40px;
            height: 40px;
        }

        &__project-page {
            @extend .imagePreview;
            width: 290px;
            height: 290px;
        }
    }

    .update {
        button {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 13px;
            top: 10px;
        }

        span {
            position: absolute;
            right: 10px;
            bottom: -5px;
            font-size: 15px;
            padding: 0 2px;
        }
    }

    .news {
        button {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 13px;
            top: 10px;
        }

        span {
            position: absolute;
            right: 10px;
            bottom: -22px;
            font-size: 15px;
            padding: 0 2px;
        }
    }

    .user-container {
        .user-photo {
            width: 250px;
            height: 250px;
            margin: 0;
            position: relative;
            z-index: 1;
        }
    
        .user-info {
            margin: 0;
            padding-left: 6vw;
            position: absolute;
            min-width: auto;
            min-height: auto;
        }

        .user-card {
            min-width: 500px;
            min-height: auto;
            padding: 10px;
            padding-left: 60px;
        }
    }

    .button-page {
        width: 36px;
        background-color: black;
        border-radius: 50%;
        border: 2px solid white;
        color: white;
        padding: 5px;
        margin-right: 10px;
    }

    .button-section {
        background-color: black;
        color: white;
        position: relative;
        padding: 15px 20px 20px 20px;
        border-top: 3px solid white;
        border-left: 3px solid white;
        border-right: 3px solid white;
        
        &.notselected {
            bottom: -11px;
        }

        &.selected {
            color: orange;
            bottom: -22px;
        }

    }

    .button-image {
        border: 3px solid white;
    }

    .button-image:hover {
        border: 3px solid orange;
    }

    .button-section:hover {
        color: orange;
    }

    .button-page:hover {
        color: orange;
        border: 2px solid orange;
    }

    .button-page:disabled {
        border: 2px solid #999999;
        background: black;
        color: #666666;
    }

    .container-x {
        position: relative;
        top: -34px;
        background-color: transparent;
        width: auto;
        
        #search-x {
            border: 0;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: transparent;
            color: black;

            :hover {
                color: orange;
            }
        }
    }
}