@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;400&display=swap');

html {
    height: 100% !important;

    body {
        font-family: 'Tomorrow', sans-serif !important;
        color: white !important;
        background-color: black !important;
        margin: 0 !important;
        min-height: 100% !important;
        
        .app {
            margin: 0 auto;
            min-height: 100%;
            display: grid;
        }

        .user-image {
            width: 250px;
            border-radius: 50%;
        }

        .project-image {
            width: 150px;
            border-radius: 50%;
        }

        .tech-logo {
            width: 140px;
            border-radius: 50%;
        }

        .mini-image {
            width: 40px;
            border-radius: 50%;
        }

        .logo-icon {
            width: 40px;
        }

        .icon-image-big {
            width: 300px;
            border-radius: 50%;
        }

        .number-score {
            font-size: 60px;
        }

        .imagePreview {
            // width: 250px;
            // height: 250px;
            border-radius: 50%;
            display: block;
            cursor: pointer;
            margin: 0 auto;
            background-size: cover;
            background-position: center center;

            &__user-image {
                @extend .imagePreview;
                width: 250px;
                height: 250px;
            }
    
            &__project-image {
                @extend .imagePreview;
                width: 150px;
                height: 150px
            }
    
            &__tech-logo {
                @extend .imagePreview;
                width: 140px;
                height: 140px
            }
    
            &__mini-image {
                @extend .imagePreview;
                width: 40px;
                height: 40px;
            }

            &__icon-image-big {
                @extend .imagePreview;
                width: 300px;
                height: 300px;
            }
        }

        p {
            letter-spacing: 0.03em;
            word-spacing: 0.15em;
        }

        // .navbar {
        //     width: 100%;
        //     position: sticky;
        //     top:0;
        //     z-index: 1;
        // }

        footer {
            height: 100px;
            width: 100%;
            position: relative;
            bottom: 0;
        }

        .update {
            button {
                width: 30px;
                height: 30px;
                position: absolute;
                right: 13px;
                top: 10px;
            }

            span {
                position: absolute;
                right: 10px;
                bottom: -5px;
                font-size: 15px;
                padding: 0 2px;
            }
        }

        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
          
          .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
          }
          
          .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
          
          :hover .tooltiptext {
            visibility: visible;
            opacity: 1;
          }
        }
    }
}